page-settings {

    .item p {
        font-size: 1.3rem;
    }

    .range {
        padding-left: 0;
    }

    .small-text {
        padding-left: 50px;
    }

    .big-text {
        font-size: 30px;
    }

    .list .item {
        background-color: transparent !important;
    }
}
