.night-mode {
  .toolbar-background {
    background-color: color($night-colors, primary) !important;
  }

  ion-content, .alert-wrapper {
    background-color: #303030 !important;

    *:not(.item-icon) {
      color: #FFFFFF !important;
    }

    .item {
      background-color: inherit;
    }

    ion-slides .item-selected,
    ion-fab button {
      background-color: color($night-colors, secondary) !important;
    }
  }

  ion-spinner * {
    stroke: white;
  }

  .range-bar {
    background-color: #463E3F !important;
  }

  .s2,
  .s3,
  .toggle-inner,
  .range-pin,
  .range-pin::before,
  .range-knob,
  .range-bar-active {
    background-color: white !important;
    color: black !important;
  }
}