// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";

$custom-font-path: "../assets/fonts" !default;

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("RobotoSlab Light webfont"), local("Roboto-Slab-Light"), url("#{$custom-font-path}/roboto-slab-light-webfont.woff") format("woff"), url("#{$custom-font-path}/roboto-slab-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoSlab Regular webfont"), local("Roboto-Slab-Regular"), url("#{$custom-font-path}/roboto-slab-regular-webfont.woff") format("woff"), url("#{$custom-font-path}/roboto-slab-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  src: local("RobotoSlab Regular webfont"), local("Roboto-Slab-Regular"), url("#{$custom-font-path}/roboto-slab-regular-webfont.woff") format("woff"), url("#{$custom-font-path}/roboto-slab-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("RobotoSlab Bold webfont"), local("Roboto-Slab-Bold"), url("#{$custom-font-path}/roboto-slab-bold-webfont.woff") format("woff"), url("#{$custom-font-path}/roboto-slab-bold-webfont.ttf") format("truetype");
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #65A2CF,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

  primary-night:  #000
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// This is a variable I made up to reuse for searchbar colors
$toolbar-contrast-color:                       color-contrast($colors, color($colors, primary));

$searchbar-ios-toolbar-input-background:       rgba($toolbar-contrast-color, .08);
$searchbar-ios-input-text-color:               $toolbar-contrast-color;
$searchbar-ios-input-placeholder-color:        rgba($toolbar-contrast-color, .5) !default;
$searchbar-ios-input-clear-icon-color:         rgba($toolbar-contrast-color, .5) !default;
$searchbar-ios-input-search-icon-color:        rgba($toolbar-contrast-color, .5) !default;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-background: color($colors, primary);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
