page-bookmarks {

  ion-grid.no-bookmark {
    height: 100%;
    justify-content: center;

    ion-icon {
      font-size: 130px;
    }

    p {
        font-size: 20px;
    }

    ion-icon, p {
        color: #CCCCCC;
    }
  }
}
