<ion-header>
  <ion-navbar>
    <ion-title>{{bookmarkList.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- To know pallet color see https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 -->

  <div padding *ngIf="(bookmarks | async)?.length == 0">
    Não há marcação ainda. :(
  </div>

  <ion-list>
    <ion-item text-wrap *ngFor="let bookmark of bookmarks | async">
      <h2 (click)="openBook($event, bookmark)">"{{bookmark.shortText}} (...)"</h2>
      <p>{{bookmark.bookShortName}} {{bookmark.chapterNumber}}:{{bookmark.versesNumber}}</p>
      <button ion-button icon-only clear item-right (click)="remove(bookmark)"><ion-icon name="trash"></ion-icon></button>
    </ion-item>
  </ion-list>

</ion-content>