<ion-header>
  <ion-navbar>
    <ion-title>{{bookmarkList.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid class="no-bookmark" *ngIf="(bookmarks | async)?.length == 0">
    <ion-row>
      <ion-col text-center>
        <ion-icon name="bookmark"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <p>Não há marcação ainda :(</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item text-wrap *ngFor="let bookmark of bookmarks | async">
      <h2 (click)="openBook($event, bookmark)">"{{bookmark.shortText}} (...)"</h2>
      <p>{{bookmark.bookShortName}} {{bookmark.chapterNumber}}:{{bookmark.versesNumber}}</p>
      <button ion-button icon-only clear item-right (click)="remove(bookmark)"><ion-icon name="trash"></ion-icon></button>
    </ion-item>
  </ion-list>

</ion-content>