<ion-header>
 <ion-toolbar>
    <ion-title>{{book.shortName}}, {{chapterNumber}} : {{versesNumbers}}</ion-title>

    <ion-buttons start>
      <button ion-button hideWhen="ios">
        <ion-icon name="share"></ion-icon>
      </button>
      <button ion-button (click)="dismiss()">
        <ion-icon hideWhen="ios" name="md-close" ></ion-icon>
        <span showWhen="ios">Cancelar</span>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button showWhen="ios">
        <ion-icon ios="ios-share-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding style="font-size: 1.4rem; line-height: 1.5;">
    Na Visão dos Glorificados a multidão é inumerável. Ipso facto, os salvos não serão apenas 144 mil, como alguns querem impingir-nos e, ao mesmo tempo, de certa forma, acusando (percebendo ou não) Deus de impiedoso, porquanto cria bilhões de Espíritos para redimir somente uma parte ínfima deles. Raciocínios tão excludentes semelhantes a esse são dos fatores principais para o crescimento da quantidade de ateus, em nosso país e no exterior. Já lhes afirmei, há tantos anos, que a falência religiosa tem promovido o ateísmo. Mentes racionais não são propensas a aceitar conclusões — em termos humanos — ilógicas, quanto mais aquelas, mesmo que impensadamente, carregadas de crueldade.
  </div>

  <h2 class="subtitle" *ngIf="(entities | async)?.length > 0">Itens relacionados</h2>

  <ion-list no-lines *ngIf="(entities | async)?.length > 0">
    <ion-item *ngFor="let entity of entities | async">
      <ion-avatar item-start>
        <img src="{{entity.thumbnail || 'https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png'}}">
      </ion-avatar>      
      <h2>{{entity.label}}</h2>
      <p>relacionado à "{{entity.spot}}"</p>
      <button ion-button clear item-end (click)="openUrl(entity.uri)">Ver</button>
    </ion-item>

  </ion-list>

  <h2 class="subtitle">Descubra mais</h2>

  <ion-slides [slidesPerView]="slidesPerView" spaceBetween="15" style="padding-left: 16px; height: 137px">
    <ion-slide>
      <img src="assets/icon/youtube2.jpg" (click)="openUrl('https://www.youtube.com/watch?v=yQh0axBdmNo')"/>
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/blogpaivanetto2.png" (click)="openUrl('http://www.paivanetto.com/pt/ciencia/questao-de-morte-ou-de-vida')"/>
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/soco.png"/>
    </ion-slide>

    <ion-slide>
      <button ion-button clear large (click)="openMore()">Mais</button>
    </ion-slide>
  </ion-slides>

</ion-content>