<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Bíblia Sagrada</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top class="toolbar-segment">
    <ion-segment [(ngModel)]="testament">
      <ion-segment-button value="old">
        Antigo Testamento
      </ion-segment-button>
      <ion-segment-button value="new">
        Novo Testamento
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div [ngSwitch]="testament">
    <ion-list *ngSwitchCase="'old'" no-lines>
      <button ion-item id="{{book.id}}" *ngFor="let book of oldbooks" (click)="openChapters($event, book)" >
        <ion-avatar item-start class="circle-badge">
          {{book.shortName.replace(" ", "").substring(0,2)}}
        </ion-avatar>
        {{book.shortName}}
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'new'" no-lines>
      <button ion-item id="{{book.id}}" *ngFor="let book of newbooks" (click)="openChapters($event, book)" >
        <ion-avatar item-start class="circle-badge">
          {{book.shortName.replace(" ", "").substring(0,2)}}
        </ion-avatar>
        {{book.shortName}}
      </button>
    </ion-list>
  </div>

</ion-content>
