page-books {
  .header-md {
    .toolbar-segment {
      min-height: 43px;
      padding: 0px;
    }
  }

  .circle-badge {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    line-height: 49px;
    text-align: center;
    background: color($colors, secondary, base);
  }
}
