<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{book.shortName}}, {{chapterNumber}} : {{selectedVerses.formatVersesNumbers()}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon hideWhen="ios" name="md-close"></ion-icon>
        <span showWhen="ios">Cancelar</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner color="primary" *ngIf="loading"></ion-spinner>

  <ion-grid class="no-entities" *ngIf="(entities | async)?.length == 0">
    <ion-row>
      <ion-col text-center>
        <p>Nenhum item relacionado foi encontrado</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines *ngIf="(entities | async)?.length > 0">
    <ion-item *ngFor="let entity of entities | async">
      <ion-thumbnail item-start (click)="open(entity)">
        <img src="{{entity.image || 'assets/icon/wikipedia-logo.png'}}">
      </ion-thumbnail>      
      <h2 (click)="open(entity)">{{entity.label}}</h2>
      <p *ngIf="needShowSpot(entity)">relacionado à "{{entity.spot}}"</p>
      <button ion-button clear large item-end (click)="presentPopover(entity, $event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>