<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{book.shortName}}, {{chapterNumber}} : {{verses.formatVersesNumbers()}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon hideWhen="ios" name="md-close" ></ion-icon>
        <span showWhen="ios">Cancelar</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner color="primary" *ngIf="loading"></ion-spinner>

  <ion-grid class="no-item" *ngIf="(entities | async)?.length == 0">
    <ion-row>
      <ion-col text-center>
        <ion-icon name="albums"></ion-icon>
        <p *ngIf="verses.length() == 1">Nenhum item relacionado a esse versículo</p>
        <p *ngIf="verses.length() > 1">Nenhum item relacionado a esses versículos</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines *ngIf="(entities | async)?.length > 0">
    <ion-item *ngFor="let entity of entities | async">
      <ion-thumbnail item-start (click)="openUrl(entity.uri)">
        <img src="{{entity.image}}">
      </ion-thumbnail>      
      <h2 (click)="openUrl(entity.uri)">{{entity.label}}</h2>
      <p *ngIf="needShowSpot(entity)">relacionado à "{{entity.spot}}"</p>
      <button ion-button clear large item-end>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>