<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="book-title" (click)="openBooks()">
        {{book.shortName}}
        <ion-icon name="ios-arrow-down"></ion-icon>
      </div>
      <div class="chapter-title" (click)="openChapters()">
        {{currentChapterNumber}}
        <ion-icon name="ios-arrow-down"></ion-icon>
      </div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="fontname-{{settings.fontname}} textsize-{{settings.textsize}}">
  <ion-slides #chapterSlider (ionSlideDidChange)="onChapterChanged()" [initialSlide]="initialSlide">

    <ion-slide id="c{{chapter.number}}" *ngFor="let chapter of chapters">
      <div padding class="chapter-header">
        <h2>Capítulo {{chapter.number}}</h2>
        <h3>{{book.name}}</h3>
      </div>

      <ion-list no-lines>
        <div *ngFor="let passage of chapter.passages">
          <p padding class="passage" *ngIf="settings.showPassageTitle && passage.name != null">{{passage.name}}</p>
          <ion-item text-wrap id="c{{chapter.number}}v{{verse.number}}" *ngFor="let verse of passage.verses" (click)="onVerseHold(verse, $event)">
            <span class="verse">{{verse.number}}. </span>
            {{verse.text}}
            <span *ngIf="settings.showBookmarks">
              <ion-icon *ngFor="let bookmarkColor of verse.bookmarks" name="bookmark" [style.color]='bookmarkColor' style="margin-right: 5px"></ion-icon>
            </span>
          </ion-item>
        </div>
      </ion-list>

      <div style="height: 100px"></div>
    </ion-slide>

  </ion-slides>

  <ion-fab bottom [hidden]="!showActions" [@showactions]="stateActions">
    <button ion-fab (click)="addToBookmark()" color="secondary"><ion-icon name="bookmark" ios="ios-bookmark-outline"></ion-icon></button>
    <button ion-fab outline (click)="openInteractivity()" color="secondary"><ion-icon name="open" ios="ios-open-outline"></ion-icon></button>
    <button ion-fab (click)="share()" color="secondary"><ion-icon name="share" ios="ios-share-outline"></ion-icon></button>
  </ion-fab>
</ion-content>
