<ion-header>
  <ion-navbar>
    <ion-title [hidden]="showSearchBar">
      <div class="book-title" (click)="openBooks()">{{book.shortName}}</div>
      <div class="chapter-title" (click)="openChapters()">{{currentChapterNumber}}</div>
    </ion-title>
    <ion-buttons end [hidden]="showSearchBar">
      <button ion-button icon-only (click)="openSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)" [hidden]="showSearchBar">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar
      [hidden]="!showSearchBar"
      #searchbar
      [(ngModel)]="currentKeyword"
      placeholder="Pesquisar"
      autocomplete="on"
      animated="true"
      debounce="750"
      showCancelButton="true"
      cancelButtonText="Cancelar"
      color="light"
      (ionInput)="searchThis($event)" 
      (ionCancel)="cancelSearch($event)" >
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset [hidden]="!showSearchBar" [virtualScroll]="searchResults" [approxItemHeight]="'200px'">

    <ion-item text-wrap *virtualItem="let result" (click)="openBookSearched($event, result)">
      <h2>{{result.verse.text}}</h2>
      <p>{{result.book.shortName}} {{result.chapterNumber}}:{{result.verse.number}}</p>
    </ion-item>

  </ion-list>

  <ion-slides #chapterSlider [hidden]="showSearchBar" (ionSlideDidChange)="onChapterChanged()" [initialSlide]="initialSlide">

    <ion-slide id="c{{chapter.number}}" *ngFor="let chapter of chapters">
      <div padding class="chapter-header">
        <h2>Capítulo {{chapter.number}}</h2>
        <h3>{{book.name}}</h3>
      </div>

      <ion-list no-lines>
        <div class="textsize-{{settings.textsize}}" *ngFor="let passage of chapter.passages">
          <p padding class="passage" *ngIf="settings.showPassageTitle && passage.name != null">{{passage.name}}</p>
          <ion-item text-wrap id="c{{chapter.number}}v{{verse.number}}" *ngFor="let verse of passage.verses" (click)="onVerseHold(verse, $event)">
            <p item-left>{{verse.number}}.</p>
            {{verse.text}} 
            <span *ngIf="settings.showBookmarks">
              <ion-icon *ngFor="let bookmarkColor of verse.bookmarks" name="bookmark" [style.color]='bookmarkColor' style="margin-right: 5px"></ion-icon>
            </span>
          </ion-item>
        </div>
      </ion-list>

      <div style="height: 100px"></div>
    </ion-slide>

  </ion-slides>

  <ion-fab bottom [hidden]="!showActions" [@showactions]="stateActions">
    <button ion-fab (click)="addToBookmark()"><ion-icon name="bookmark" ios="ios-bookmark-outline"></ion-icon></button>
    <button ion-fab outline (click)="openInteractivity()"><ion-icon name="open" ios="ios-open-outline"></ion-icon></button>
    <button ion-fab (click)="share()"><ion-icon name="share" ios="ios-share-outline"></ion-icon></button>
  </ion-fab>
</ion-content>
