<ion-header>
  <ion-navbar>
    <ion-title>Listas de leitura</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let bookmarkList of bookmarkLits | async" (click)="openBookmarks(bookmarkList)">
      <ion-icon name="bookmark" item-start [style.color]="bookmarkList.id"></ion-icon>
      <h2>{{bookmarkList.name}}</h2>
      <p *ngIf="bookmarkList.bookmarkCount == 0">Nenhuma marcação</p>
      <p *ngIf="bookmarkList.bookmarkCount == 1">{{bookmarkList.bookmarkCount}} marcação</p>
      <p *ngIf="bookmarkList.bookmarkCount > 1">{{bookmarkList.bookmarkCount}} marcações</p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="!settings.backup">
  <button ion-button full clear>
    Habilitar backup
  </button>
</ion-footer>
